<div class="spinner" *ngIf="!isLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container" *ngIf="isLoaded">
  <div *ngIf="previewMode" class="display-5 mt-3 text-center">Enrolled Courses</div>
  <hr *ngIf="previewMode" />
  <div *ngIf="!previewMode" class="display-5 mt-3 text-center">Published</div>
  <hr *ngIf="!previewMode" />
  <div class="row">
    <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let course of courses">
      <mat-card class="border-0 p-0 my-3" *ngIf="course.isActive">
        <app-thumbnail
          [courseId]="course.id"
          thumbnail_class="thumbnail_course"
        ></app-thumbnail>
        <mat-card-header>
          <mat-card-title>
            <a
              routerLink="/course/{{ course.id }}/lessons"
              class="text-decoration-none"
              >{{ course.title }}</a
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ course.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="mt-2">
          <button
            *ngIf="!previewMode"
            mat-raised-button
            color="primary"
            class="me-2"
            (click)="deleteCourse(course.id)"
          >
            <mat-icon>delete-outline</mat-icon> Delete
          </button>
          <a *ngIf="!previewMode" routerLink="/course/{{ course.id }}/edit"
            ><button mat-raised-button color="primary" class="me-2">
              <mat-icon>edit</mat-icon> Edit
            </button></a
          >
          <button
            *ngIf="!course.isActive"
            mat-raised-button
            color="primary"
            (click)="publishCourse(course.id)"
          >
            <mat-icon>check</mat-icon> Publish
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div *ngIf="!previewMode" class="display-5 mt-3 text-center">Drafts</div>
  <hr *ngIf="!previewMode" />
  <div class="row">
    <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let course of courses">
      <mat-card class="border-0 p-0 my-3" *ngIf="!course.isActive">
        <app-thumbnail
          [courseId]="course.id"
          thumbnail_class="thumbnail_course"
        ></app-thumbnail>
        <mat-card-header>
          <mat-card-title>
            <a
              routerLink="/course/{{ course.id }}/lessons"
              class="text-decoration-none"
              >{{ course.title }}</a
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ course.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="mt-2">
          <button
            *ngIf="!previewMode"
            mat-raised-button
            color="primary"
            (click)="deleteCourse(course.id)"
            class="me-2"
          >
            <mat-icon>delete-outline</mat-icon> Delete
          </button>
          <a *ngIf="!previewMode" routerLink="/course/{{ course.id }}/edit"
            ><button mat-raised-button color="primary" class="me-2">
              <mat-icon>edit</mat-icon> Edit
            </button></a
          >
          <button
            *ngIf="!course.isActive"
            mat-raised-button
            color="primary"
            (click)="publishCourse(course.id)"
            
          >
            <mat-icon>check</mat-icon> Publish
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- <div *ngIf="!previewMode" class="display-5 mt-3 text-center">Published</div>
  <hr *ngIf="!previewMode" />
  <div *ngFor="let course of courses">
    <mat-card class="example-card" *ngIf="course.isActive">
      <app-thumbnail [courseId]="course.id"></app-thumbnail>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/course/{{ course.id }}/lessons">{{ course.title }}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ course.description }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="!previewMode"
          mat-icon-button
          color="primary"
          (click)="deleteCourse(course.id)"
        >
          <mat-icon>delete-outline</mat-icon>
        </button>
        <a *ngIf="!previewMode" routerLink="/course/{{ course.id }}/edit"
          ><button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button></a
        >
        <button
          *ngIf="!course.isActive"
          mat-icon-button
          color="primary"
          (click)="publishCourse(course.id)"
        >
          <mat-icon>check</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!previewMode" class="display-5 mt-3 text-center">Published</div>
  <hr *ngIf="!previewMode" />
  <div *ngFor="let course of courses">
    <mat-card class="example-card" *ngIf="!course.isActive">
      <app-thumbnail [courseId]="course.id"></app-thumbnail>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/course/{{ course.id }}/lessons">{{ course.title }}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ course.description }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="!previewMode"
          mat-icon-button
          color="primary"
          (click)="deleteCourse(course.id)"
        >
          <mat-icon>delete-outline</mat-icon>
        </button>
        <a *ngIf="!previewMode" routerLink="/course/{{ course.id }}/edit"
          ><button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button></a
        >
        <button
          *ngIf="!course.isActive"
          mat-icon-button
          color="primary"
          (click)="publishCourse(course.id)"
        >
          <mat-icon>check</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div> -->

    <!-- <div *ngIf="!previewMode" class="display-5 mt-3 text-center">Unpublished</div>
  <hr *ngIf="!previewMode" />
  <div *ngFor="let course of courses">
    <mat-card class="example-card" *ngIf="!course.isActive">
      <app-thumbnail [courseId]="course.id"></app-thumbnail>
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/course/{{ course.id }}/lessons">{{ course.title }}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ course.description }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="!previewMode"
          mat-icon-button
          color="primary"
          (click)="deleteCourse(course.id)"
        >
          <mat-icon>delete-outline</mat-icon>
        </button>
        <a *ngIf="!previewMode" routerLink="/course/{{ course.id }}/edit"
          ><button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button></a
        >
        <button
          *ngIf="!course.isActive"
          mat-icon-button
          color="primary"
          (click)="publishCourse(course.id)"
        >
          <mat-icon>check</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  </div>
</div>
