<div class="container">
    <mat-card class="example-card" *ngFor="let course of courses">
        <app-thumbnail [courseId]="course.id"></app-thumbnail>
        <mat-card-header>
            <mat-card-title>{{ course.title }}</mat-card-title>
            <mat-card-subtitle>
                Learn Web Development with Easy Tutorials
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{ course.description }}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <a routerLink="/course/{{ course.id }}/lessons"><button mat-raised-button
                    color="primary">Preview</button></a>
            <button mat-raised-button color="primary" (click)="deleteCourse(course.id)">
                Delete
            </button>
            <a routerLink="/course/{{ course.id }}/edit"><button mat-raised-button color="primary">Edit</button></a>
        </mat-card-actions>
    </mat-card>
</div>