<div class="display-5 text-center">{{ course?.title }}</div>

<mat-accordion>
  <mat-expansion-panel
    hideToggle
    *ngFor="let lesson of lessons"
    class="d-flex flex-column"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ lesson.title }}</mat-panel-title>
      <mat-panel-description>
        {{ lesson.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a
      routerLink="/course/{{ lesson.course.id }}/lessons/{{ lesson.id }}/video"
      >{{ lesson.videoTitle }}</a
    >
    <a
      ><p mat-raised-button (click)="openFile(lesson.id)">
        {{ lesson.fileTitle }}
      </p></a
    >
    
    <div>
      <a
        routerLink="/course/{{ lesson.course.id }}/lessons/{{ lesson.id }}/edit"
        ><button mat-raised-button color="primary">Edit</button></a
      >
      <button
        mat-raised-button
        color="primary"
        (click)="deleteLesson(lesson.id)"
      >
        Delete
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<a routerLink="/course/{{ course?.id }}/lessons/add"
  ><button mat-raised-button color="primary">Add Lesson</button></a
>
