<div class="wrapper">
    <div class="form-content">
        <mat-toolbar class="login-toolbar" color="primary" class="d-flex justify-evenly">
            <div class="m-auto">
                {{lessonTitle}}
            </div>
        </mat-toolbar>
        <mat-card>
            <div class="quiz" *ngIf="quiz">
                <div *ngIf="currentQuestionIndex >= 0 && currentQuestionIndex < quiz.questions.length">
                    <h2><span>{{currentQuestionIndex+1}}. </span>{{ quiz.questions[currentQuestionIndex].content }}</h2>
                    <div *ngFor="let answer of quiz.questions[currentQuestionIndex].answers" class="answer my-1">

                        <mat-radio-button [value]="answer.id" [disabled]="selectedAnswerIndex !== null"
                            class="answerRadio"
                            [class.correct]="isCorrectAnswer(answer.id) && selectedAnswerIndex === answer.id"
                            [checked]="selectedAnswerIndex === answer.id" (mousedown)="onAnswerSelected(answer.id)">
                            {{ answer.content }}
                        </mat-radio-button>
                    </div>
                </div>


            </div>

        </mat-card>

    </div>
</div>


<!-- <button (click)="completeQuiz(quiz?.id)">Placeholder</button> -->