<div class="d-flex align-items-center">
  <div class="logodiv">
    <a routerLink="" class="logo">Courseify</a>
  </div>
  <span class="example-spacer"></span>
  <div *ngIf="isAuthenticated" class="d-flex align-items-center">
    <a routerLink="/course/add" mat-icon-button>
      <mat-icon>library_add</mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <h3 class="d-flex justify-content-center">
        <strong>Hello {{ user?.username }}!</strong>
      </h3>
      <button mat-menu-item routerLink="/user">Account Details</button>
      <button mat-menu-item routerLink="/user/learn">Enrolled Courses</button>
      <button mat-menu-item routerLink="/user/created">Created Courses</button>
    </mat-menu>
  </div>
  <div *ngIf="!isAuthenticated">
    <a routerLink="register">
      <button mat-button color="accent" class="mx-3">Sign up</button>
    </a>
    <a routerLink="login">
      <button mat-raised-button color="accent">Log In</button>
    </a>
  </div>
  <div *ngIf="isAuthenticated">
    <a>
      <button mat-raised-button color="accent" (click)="logout()">
        Logout
      </button>
    </a>
  </div>
</div>
