<div class="spinner" *ngIf="!isLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="wrapper" *ngIf="isLoaded">
  <div class="form-content">
    <mat-toolbar class="login-toolbar" color="primary" class="d-flex justify-evenly">
      <div class="m-auto">
        <span *ngIf="isAddMode">ADD COURSE</span>
        <span *ngIf="!isAddMode">EDIT COURSE - {{ course?.title }}</span>
      </div>
    </mat-toolbar>
    <mat-card>
      <form [formGroup]="courseForm" (ngSubmit)="submit()" id="addForm" class="d-flex flex-column mx-3 my-1">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput autofocus formControlName="title" type="text" />

          <mat-error *ngIf="courseForm.get('title')?.hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" type="text" form="addForm"></textarea>
          <mat-error *ngIf="courseForm.get('description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
          <mat-label [class.categoryInputError]="categoryList.length == 0">Categories</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter Categories">
            <mat-chip-row *ngFor="let category of categoryList" (removed)="remove(category)">
              {{category.name}}
              <button matChipRemove [attr.aria-label]="'remove ' + category">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="New Category..." [class.categoryInputError]="categoryList.length == 0" #categoryInput
            formControlName="categoryIds" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories" [value]="category.id">
              {{category.name}}
            </mat-option>

          </mat-autocomplete>

        </mat-form-field>
        <div *ngIf="categoryList.length == 0" class="categoryError">
          <mat-error>
            Category is required
          </mat-error>

        </div>

        <div class="mb-3 w-100">
          <input class="form-control" type="file" formControlName="thumbnail" (change)="onFileChange($event)" />
        </div>

        <button *ngIf="isAddMode" type="submit" mat-raised-button color="primary" class="mt-1"
          [disabled]="courseForm.invalid">
          ADD COURSE </button>
        <button *ngIf="!isAddMode" type="submit" mat-raised-button color="primary" class="mt-1"
          [disabled]="courseForm.invalid">
          EDIT COURSE </button>
      </form>
    </mat-card>
  </div>
</div>