.wrapper {
  height: calc(100vh - 128px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: calc(100vh - 128px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-content {
  width: 40rem;
}

.mat-mdc-form-field {
  width: 100%;
  margin-top: 0.5rem;
}

.mat-mdc-raised-button {
  width: 50%;
  height: 3rem;
  margin: 1rem;
}

.categoryError {
  width: 100%;
  margin-top: -1.25rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  color: #f44336;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 20px;
}

.categoryInputError {
  color: #f44336;
}

.categoryInputError ::placeholder {
  color: #f44336;
}