<div class="container">
  <div class="search__container">
    <input
      class="search__input"
      type="text"
      placeholder="Search"
      [formControl]="searchControl"
    />
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let course of listCourses$ | async">
      <mat-card class="border-0 p-0 my-3">
        <app-thumbnail
          [courseId]="course.id"
          thumbnail_class="thumbnail_course"
        ></app-thumbnail>
        <mat-card-header>
          <mat-card-title>
            <a
              routerLink="/course/{{ course.id }}/lessons"
              class="text-decoration-none"
              >{{ course.title }}</a
            >
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ course.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
