.example-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
}