<div class="wrapper">
  <div class="form-content">
    <mat-toolbar
      class="login-toolbar"
      color="primary"
      class="d-flex justify-evenly" 
      ><div class="m-auto">
        <span *ngIf="isAddMode">ADD COURSE</span>
        <span *ngIf="!isAddMode">EDIT COURSE - {{ course?.title }}</span>
      </div></mat-toolbar
    >
    <mat-card>
      <form
        [formGroup]="courseForm"
        (ngSubmit)="submit()"
        id="addForm"
        class="d-flex flex-column mx-3 my-1"
      >
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput autofocus formControlName="title" type="text" />

          <!-- <mat-error *ngIf="checkValidation('username')">
            {{ fieldRequired }}
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            type="text"
            form="addForm"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Author Id</mat-label>
          <input matInput formControlName="authorId" type="number" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categories</mat-label>
          <input matInput formControlName="categoryId" type="text" />
        </mat-form-field>

        <!-- <mat-form-field class="example-chip-list">
          <mat-label>Categories</mat-label>
          <mat-chip-grid  aria-label="Enter fruits">
            <mat-chip-row>
              <button matChipRemove [attr.aria-label]="'remove'">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="Category name..." />
          </mat-chip-grid>
        </mat-form-field> -->

        <div class="mb-3 w-100">
          <input
            class="form-control"
            type="file"
            formControlName="thumbnail"
            (change)="onFileChange($event)"
          />
        </div>

        <button type="submit" mat-raised-button color="primary" class="mt-1">
          Add Course
        </button>
      </form>
    </mat-card>
  </div>
</div>
